{% extends "registrationsbase.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='col-lg-12 row'>
    <div class='col-md-9'><h1>{{ event.title }}</h1></div>
    <div class='col-md-3'><h1>{{ event.date_time }}</h1></div>
</div>

<div class='col-md-12'>
  <div class='col-lg-12 row'>
    <div><legend><h1>Registrations</h1></legend></div>
    <div class='col-lg-6'><h3>Attendee</h3></div>
  </div>

    <div class='col-lg-12 row'>
      {% for attendance in attendance_list %}
        <div class='col-lg-12 row'>
          <div class='col-4'>{{ attendance.attendee.first_name }} &nbsp; {{ attendance.attendee.last_name }}</div>
          <div class='col-4'>{{ attendance.attendee.email }}</div>
          <div class='col-4'>{{ attendance.attendee.phone }}</div>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}